extends ./includes/layout
block main
    // carousel here
    #myCarousel.carousel.slide.animated.lightSpeedIn(style='margin-top:-34px;')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        |     
        li(data-target='#myCarousel', data-slide-to='1')
        |     
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner
        .item.active
          img.img-responsive(src='http://cdn.shopify.com/s/files/1/0695/9547/t/4/assets/slide_1.jpg?8526139331772382456', alt='Sale 1')
          |       
          .carousel-caption
            // caption here
        |     
        .item
          img.img-responsive(src='http://cdn.shopify.com/s/files/1/0695/9547/t/4/assets/slide_2.jpg?8526139331772382456', alt='Sale 2')
          |       
          .carousel-caption
            // caption here
        
      // Controls
      a.carousel-control.left(href='#myCarousel', data-slide='prev')
        span.icon-prev
      |   
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.icon
      |   
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.icon
    // div Carousel ends here
    .headimg
      center
        img(src='http://webneel.com/sites/default/files/images/manual/logo/28-brilliant-online-shopping-cart-store-logo.gif')
    .container
      .row
        .col-md-2
          #sidebar.box
            nav.sidebar-module
              .section-header
                h4
                  b SHOP FOR
                hr.hr--clear
              |                 
              |               
              ul.sidebar-module-list
                li
                  a(href='#') Desktop PC&apos;s
                |                   
                li
                  a(href='#') Laptops
                |                   
                li
                  a(href='#') Mobile Phones
                |                   
                li
                  a(href='#') Storage Devices
                |                   
                li
                  a(href='#') Mobile Accessories
                |       
                |                   
                li
                  a(href='#') Mobile Cases &amp; Covers
                |       
                |                   
                li
                  a(href='#') Power Banks
                |       
                |                   
                li
                  a(href='#') Bluetooth Devices
                |       
                |                   
                li
                  a(href='#') Tablet Accessories
                |       
                |                   
                li
                  a(href='#') Memory Cards
                |       
                |                   
                li
                  a(href='#') Mobile Screen Guards
                |                   
                li
                  a(href='#') Batteries
                |       
                |                   
                li
                  a(href='#') Cables &amp; Chargers
                |       
                |                   
                li
                  a(href='#') Mobile Spare Parts
                |       
                |                   
                li
                  a(href='#') International SIM Cards
                |       
                |                   
                li
                  a(href='#') Digital Goods
                |       
                |                   
                li
                  a(href='#') Mobile Insurance &amp; Warranty
            |           
            nav.sidebar-module
              .section-header
                h4
                  b SHOP FOR VENDOR
                hr.hr--clear
              |               
              ul.sidebar-module-list
                li
                  a(href='#') Acer
                |                   
                li
                  a(href='#') Apple
                |                   
                li
                  a(href='#') DELL
                |                   
                li
                  a(href='#') Hewlett Packard
                |                   
                li
                  a(href='#') Archos
                |                   
                li
                  a(href='#') ASUS
                |                   
                li
                  a(href='#') Canon
                |                   
                li
                  a(href='#') Compaq
                |                   
                li
                  a(href='#') Dell
                |                   
                li
                  a(href='#') Gigabyte
                |                   
                li
                  a(href='#') Microsoft
                |                   
                li
                  a(href='#') Nokia
        |     
        .col-md-10
          .box
            .section-header
              h2.section-header-title.h4(style='margin-top: 35px;')
                b featured items
            // heading ends
            hr.hr--clear
            // product type 1
            .row
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/Dell_Latitude_E4300_Laptop_1024x1024.jpeg?v=1421189962', width='140', height='140')
                  |                       
                  p
                    a(href='') Dell Latitude E4300 Refurbished Laptop
                    br
                    | $245
                  |                           
                  button.buy Shop Now
              |                  
              |                  
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/HP_255_Ubuntu_Laptop_1024x1024.jpeg?v=1421190061', width='140', height='140')
                  |                       
                  p
                    a(href='#') HP 255 UBUNTU
                    br
                    | $350.00
                  |                
                  |                           
                  button.buy Shop Now
              |                
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/621591-645880-800_large.jpeg?v=1421190099', width='140', height='140')
                  |                       
                  p
                    a(href='#') Lenovo Thinkpad B50
                    br
                    | $229.00
                  |                
                  |                           
                  button.buy  Shop Now
            br
            // product type 2
            .row
              .col-md-4
                .box
                  img(src='http://n1.sdlcdn.com/imgs/a/0/z/166x194/Xolo-Hive-8x-1000i-16-SDL928930849-1-7e6f4.jpg', width='140', height='140')
                  |                       
                  p
                    a(href='') Xolo-Hive-8x-1000i-16 GB
                    br
                    |   $100
                  |                           
                  button.buy  Shop Now
              |                  
              |                  
              .col-md-4
                .box
                  img(src='http://n1.sdlcdn.com/imgs/a/0/b/166x194/Apple-iPhone-6-16-GB-SDL691711090-1-6d93d.jpg', width='140', height='140')
                  |                       
                  p
                    a(href='#') Apple iPhone 6 16 GB
                    br
                    | $169.00
                  |                
                  |                           
                  button.buy Shop Now
              |                
              .col-md-4
                .box
                  img(src='http://n3.sdlcdn.com/imgs/a/w/o/166x194/nokia1-a4261.jpg', width='140', height='140')
                  |                       
                  p
                    a(href='#')
                      | Nokia Lumia 630 Single 
                      br
                      | SIM 8GB Black
                    br
                    | $90.00
                  |                
                  |                           
                  button.buy  Shop Now
            // product type 3
            .row
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/Cherry_USB_Mouse_large.jpeg?v=1432236144', width='140', height='140')
                  |                       
                  p
                    a(href='') Cherry USB Mouse
                    br
                    | $5.99
                  |                           
                  a(href='#')
                    button.buy Shop Now
              |                  
              |                  
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/3.5mm_audio_jack_large.jpeg?v=1421189864', width='140', height='140')
                  |                       
                  p
                    a(href='#') 3.5mm Male-Male Stereo Jack
                    br
                    | $0.69
                  |                
                  |                           
                  a(href='#')
                    button.buy  Shop Now
              |                 
              .col-md-4
                .box
                  img(src='http://cdn.shopify.com/s/files/1/0695/9547/products/iphone_4_usb_cable_large.jpeg?v=1421189883', width='140', height='140')
                  |                           
                  p
                    a(href='#') Apple iPhone 4/ iPod Cable
                    br
                    | $2.99
                  |                         
                  a(href='#')
                    button.buy  Shop Now
            // div for row ends

    // Product Vendor list
    .section-header
      h2.section-header-title.h4(style='margin-top: 35px;text-align: center;')
        b We offer products from
    hr.hr--clear(style='width: 84%;')
    // Container for products
    .productList
      center
        img(src='http://cdn.shopify.com/s/files/1/0695/9547/files/brands.png?9830')
<<<<<<< HEAD

.container
  .row
      each val in products
        .col-md-4.col-md-offset-2.jumbotron
          h4 Name:
           p= val.name
          h4 Product No:
            p= val.productno
          h4 Description:
            p= val.description
          h4 Quantity:  
            p= val.quantity
          h4 Price:
            p= val.price
          if(user)
              if(user.type ='admin')
                 form(action="/deleteproduct/"+val._id method="post")
                    button.btn.btn-warning(type='submit') Delete
                 form(action="/updateproduct/"+val._id method="post")
                    button.btn.btn-warning(type='submit') Edit        

        br
    // footer here
    #footer(style='background-color:#F0F0E9;')
      .footer-widget
        .container
          .row
            .col-md-4
              .single-widget
                h2 Service
                |               
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='#') Online Help
                  |                 
                  li
                    a(href='#') Contact Us
                  |                 
                  li
                    a(href='#') Order Status
                  |                 
                  li
                    a(href='#') Change Location
                  |                 
                  li
                    a(href='#') FAQ&rsquo;s
            |           
            .col-md-4
              .single-widget
                h2 Policies
                |               
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='#') Terms of Use
                  |                 
                  li
                    a(href='#') Privecy Policy
                  |                 
                  li
                    a(href='#') Refund Policy
                  |                 
                  li
                    a(href='#') Billing System
                  |                 
                  li
                    a(href='#') Ticket System
            |           
            .col-md-4
              .single-widget
                h2 About Shopper
                |               
                form.searchform(action='#')
                  input(type='text', placeholder='Your email address')
                  |                 
                  button.btn.btn-default(type='submit') Submit
                  |                 
                  p Get the most recent updates from our products and be updated your self...
    // footer ends here




>>>>>>> 424a5cb79ac7e8f906f9c1924e0daf7edf714e52

