extends ./includes/layout
block main
  
            

    a.btn.btn-info(href="/contactus") Contact Us
    // carousel here
    #myCarousel.carousel.slide.animated.lightSpeedIn(style='margin-top:-34px;')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        |     
        li(data-target='#myCarousel', data-slide-to='1')
        |     
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides
      .carousel-inner
        .item.active
          img.img-responsive(src='http://cdn.shopify.com/s/files/1/0695/9547/t/4/assets/slide_1.jpg?8526139331772382456', alt='Sale 1')
          |       
          .carousel-caption
            // caption here
        |     
        .item
          img.img-responsive(src='http://cdn.shopify.com/s/files/1/0695/9547/t/4/assets/slide_2.jpg?8526139331772382456', alt='Sale 2')
          |       
          .carousel-caption
            // caption here

  
          
        
      // Controls
      a.carousel-control.left(href='#myCarousel', data-slide='prev')
        span.icon-prev
      |   
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.icon
      |   
      a.carousel-control.right(href='#myCarousel', data-slide='next')
        span.icon
    // div Carousel ends here
    .headimg
      center
        img(src='http://webneel.com/sites/default/files/images/manual/logo/28-brilliant-online-shopping-cart-store-logo.gif')
    .container
      .row
        .col-md-2
          #sidebar.box
            nav.sidebar-module
              .section-header
                h4
                  b SHOP FOR
                hr.hr--clear
              |                 
              |               
              ul.sidebar-module-list
                li
                  a(href='#') Desktop PC&apos;s
                |                   
                li
                  a(href='#') Laptops
                |                   
                li
                  a(href='#') Mobile Phones
                |                   
                li
                  a(href='#') Storage Devices
                |                   
                li
                  a(href='#') Mobile Accessories
                |       
                |                   
                li
                  a(href='#') Mobile Cases &amp; Covers
                |       
                |                   
                li
                  a(href='#') Power Banks
                |       
                |                   
                li
                  a(href='#') Bluetooth Devices
                |       
                |                   
                li
                  a(href='#') Tablet Accessories
                |       
                |                   
                li
                  a(href='#') Memory Cards
                |       
                |                   
                li
                  a(href='#') Mobile Screen Guards
                |                   
                li
                  a(href='#') Batteries
                |       
                |                   
                li
                  a(href='#') Cables &amp; Chargers
                |       
                |                   
                li
                  a(href='#') Mobile Spare Parts
                |       
                |                   
                li
                  a(href='#') International SIM Cards
                |       
                |                   
                li
                  a(href='#') Digital Goods
                |       
                |                   
                li
                  a(href='#') Mobile Insurance &amp; Warranty
            |           
            nav.sidebar-module
              .section-header
                h4
                  b SHOP FOR VENDOR
                hr.hr--clear
              |               
              ul.sidebar-module-list
                li
                  a(href='#') Acer
                |                   
                li
                  a(href='#') Apple
                |                   
                li
                  a(href='#') DELL
                |                   
                li
                  a(href='#') Hewlett Packard
                |                   
                li
                  a(href='#') Archos
                |                   
                li
                  a(href='#') ASUS
                |                   
                li
                  a(href='#') Canon
                |                   
                li
                  a(href='#') Compaq
                |                   
                li
                  a(href='#') Dell
                |                   
                li
                  a(href='#') Gigabyte
                |                   
                li
                  a(href='#') Microsoft
                |                   
                li
                  a(href='#') Nokia
        |     
        
        .container
          

          .row
            
          
            .container

               each product in products
                .col-md-2.col-md-offset-1.text-center.jumbotron
                  
                    h3 
                    p=product.name
                    p=product.description
                    p=product.price
                    a.btn.btn-lg.btn-success(href='#', data-toggle='modal', data-target='#basicModal'+product.id) BUY
                    .id.modal.fade(tabindex='-1', id='basicModal'+product.id, role='dialog', aria-labelledby='basicModal', aria-hidden='true')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4#myModalLabel.modal-title Product details
                          .modal-body

                               .row
                                  .col-md-6.col-md-offset-4.jumbotron

                                    p= product.name
                                    p= product.productno
                                    p= product.description
                                    p= product.quantity
                                    p= product.price
                          .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Buy Now
                            a.button.btn.btn-primary(href='/cart',type='button') Add to cart

       

    // Product Vendor list
    .section-header
      h2.section-header-title.h4(style='margin-top: 35px;text-align: center;')
        b We offer products from
    hr.hr--clear(style='width: 84%;')
    // Container for products
    .productList
      center
        img(src='http://cdn.shopify.com/s/files/1/0695/9547/files/brands.png?9830')
