extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-4.text-center

      if(user)
        if(user.type ='admin')
          form(action="/addproduct")
            button.btn.btn-primary(type='submit') Add Item

    .row
      each val in products
        .col-md-4.col-md-offset-2.jumbotron
          h4 Name:
           p= val.name
          h4 Product No:
            p= val.productno
          h4 Description:
            p= val.description
          h4 Quantity:  
            p= val.quantity
          h4 Price:
            p= val.price
          if(user)
              if(user.type ='admin')
                 form(action="/deleteproduct/"+val._id method="post")
                    button.btn.btn-warning(type='submit') Delete
                 form(action="/updateproduct/"+val._id method="post")
                    button.btn.btn-warning(type='submit') Edit        
