extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-4.text-center

      if(user)
        if(user.type ='admin')
          form(action="/addproduct")
            button.btn.btn-primary(type='submit') Add Item

    .row
      each val in products
        .col-md-4.col-md-offset-2.jumbotron
          h4 Name:
           p= val.name
          h4 Name:
           p= val.id
          h4 Product No:
            p= val.productno
          h4 Description:
            p= val.description
          h4 Quantity:  
            p= val.quantity
          h4 Price:
            p= val.price
          
          //- each val in reviews
          //-   .col-md-4.col-md-offset-2.jumbotron
          //-     //if(product._id == review.p_id)
          //-     h4 Title:
          //-       p= val.title
          //-     h4 Rating:
          //-       p= val.rating
          //-     h4 Time:
          //-       p= val.time
          //-     h4 Product
          //-       p= val.p_id
          if(user)
              if(user.type ='admin')
                 a.btn.btn-primary(href="/deleteproduct/#{val.id}") Delete
                 a.btn.btn-warning(href="/updateproduct/#{val.id}") Edit
                 a.btn.btn-info(href="/addreview/#{val.id}") Add Review